<app-header></app-header>
<div class="home-profile">
  <a href="books">
    <h4 class="home">Home </h4>
  </a>

</div>

<h5 class="profile">/Profile</h5>
<div class="maindiv">
  <h2>Personal Details</h2>
  <div>

    <label>Full Name</label><br>
    <input type="text" name="fullname" class="fullname" disabled>
  </div>
  <div><br>
    <label>Email Id</label><br>
    <input type="text" name="fullname" class="emailId" disabled>
  </div>
  <div><br>
    <label>Password</label><br>
    <input type="text" name="fullname" class="password" disabled>
  </div>
  <div><br>
    <label>Mobile No</label><br>
    <input type="text" name="fullname" class="Mobileno" disabled>
  </div>
</div>