
.home-profile{
    margin-left: 169px;
    font-size: small;
}
.profile{
    margin-left: 210px;
    margin-top: -32px;
}
.maindiv{
    margin-left: 242px;
}
.form{
    width: 511px;
height: 45px;
background: #F5F5F5 0% 0% no-repeat padding-box;
border: 1px solid #E2E2E2;
border-radius: 2px;
opacity: 1;
}
.fullname{
    width: 511px;

    height: 30px;

background: #F5F5F5 0% 0% no-repeat padding-box;
border: 1px solid #E2E2E2;
border-radius: 2px;
opacity: 1;
}
.emailId{
    width: 511px;

    height: 30px;

background: #F5F5F5 0% 0% no-repeat padding-box;
border: 1px solid #E2E2E2;
border-radius: 2px;
opacity: 1;
}
.password{
    width: 511px;

    height: 30px;

background: #F5F5F5 0% 0% no-repeat padding-box;
border: 1px solid #E2E2E2;
border-radius: 2px;
opacity: 1;
}
.Mobileno{
    width: 511px;

    height: 30px;

background: #F5F5F5 0% 0% no-repeat padding-box;
border: 1px solid #E2E2E2;
border-radius: 2px;
opacity: 1;
}
.edit{
    margin-top: -37px;
    margin-left: 194px;
}