.main-content{
    top: 80px;
left: 177px;
width: 1022px;
height: 151px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #E4E4E4;
opacity: 1;
}
.bookImageDiv{
    top: 120px;
left: 213px;
width: 65px;
height: 70px;
background: transparent  0% 0% no-repeat padding-box;
opacity: 1;
}
.bookname{
    top: 145px;
left: 316px;
width: 167px;
height: 24px;
text-align: left;
font: normal normal normal 18px/24px Roboto;
letter-spacing: 0px;
color: #0A0102;
opacity: 1;
    margin-top: -59px;
    margin-left: 200px;
}
.mat-card-content>:first-child {
    margin-top: -8px;
}
.bookauthor{
    top: 174px;
left: 316px;
width: 76px;
height: 16px;
text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #9D9D9D;
opacity: 1;
margin-top: -27px;
margin-left: 130px;
}
.price{
    top: 203px;
left: 316px;
width: 60px;
height: 20px;
text-align: left;
font: normal normal bold 15px/20px Roboto;
letter-spacing: 0px;
color: #0A0102;
opacity: 1;
margin-left: 130px;

}
.a{
    margin-top: -10px;
}