<app-header></app-header>

<div class="home-mycart">
  <h4 class="home">home /</h4>
  <h4 class="mycart">Mycart</h4>
</div>
<div class="card">
    <div class="row1">
        <h2 class="h2wishlist">My Wishlist</h2>
    </div>
    <div class="row2">
        <img src="../../../assets/bookimages/Image 20.png">
        <div class="card1form">
            <h4 class="card1name">Don't Make Me Think</h4>
            <h4 class="card1author">by Steve Krug</h4>
            <h4 class="card1price">Rs.400</h4>
        </div>
    </div>

</div>