<app-header></app-header>
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<div class="home-mywishlist">
    <a href="books">
  <h4  class="home">Home</h4>
</a>
  <h4 class="mywishlist">/MyWishlist</h4>

</div>
<div class="card">
    <div class="row1">
        <h2 class="h2wishlist">My Wishlist</h2>
    </div>
    <div class="row2">
        <div class="img">
            <img src="../../../assets/bookimages/Image 20.png">
        </div>
        <div class="card1form">
            <h4 class="card1name">Don't Make Me Think</h4>
            <h4 class="card1author">by Steve Krug</h4>
            <h4 class="card1price">Rs.400</h4>
        </div>
        <div class="btndelete">
            <mat-icon>delete</mat-icon>
        </div>
    </div>

</div>
<app-footer></app-footer>