.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  mat-card {
      margin-left: 100px;
      margin-right: 100px;
  }

  .image{
    text-align: right;  
    
  }