<div class="body">
    <mat-card class="example-card">
      <img src="../../../assets/signup/womencart.png" class="image" />
      <h1 class="h1">Online Book Shopping</h1>
    </mat-card>
  
    <!-- //signup form -->
  
    <mat-card class="example-card2">  
        
      <mat-tab-group  >
         <mat-tab label="LOGIN"></mat-tab>
        <mat-tab class="signup" label="SIGNIUP"><a routerLink="/signupform"></a></mat-tab>
      </mat-tab-group>
     
     
      <div class="emailId">
        <mat-form-field appearance="legacy">
          <mat-label>Email Id</mat-label>
          <input matInput />
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </div>
      <br /><br />
      <div class="password">
        <mat-form-field appearance="legacy">
          <mat-label>Password</mat-label>
          <input matInput />
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </div>
      <br /><br />
      
      <!-- <div> -->
      <button class="loginbutton" style="color: white" >Login</button><br>
      <h3>OR</h3><br>
      <button class="facebookbutton" style="color: white">Facbook</button>
      <button class="googlebutton" style="color: black">Google</button>
    <!-- </div> -->
  
    </mat-card>
  </div>
  
