.login{
 
text-align: left;
font: normal normal medium 25px/33px Roboto;

letter-spacing: 0px;
color: #0A0102;
margin-left: 554px;
margin-top: 150px;
opacity: 1;
}
.message{
    text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #9D9D9D;
opacity: 1;
}
.img{
    background:  0% 0% no-repeat padding-box;
    margin-left: 616px;
    margin-top: 38px;
opacity: 1;
}
.button{
    width: 127px;
height: 33px;
margin-left: 594px;
margin-top: 42px;
border: 1px solid #A03037;
border-radius: 2px;
opacity: 1;
}
.loginsignupbuuton{
    width: 127px;
    height: 33px;
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 1px;
    border: navajowhite;
    background: #FFFFFF 0% 0% no-repeat padding-box;
  border-color: #A03037;

opacity: 1;
}