*{
    margin: 0;
    box-sizing: border-box;
}

// .mat-icon{
   
//     background: white 0% 0% no-repeat padding-box;
//     opacity: 1;
//     color: #FCFCFC;
//     margin-left: -335px;
//     margin-top: 3px;

// }

.searchbar{
    top: 14px;
left: 334px;
width: 2706px;
height: 33px;
background: #FCFCFC 0% 0% no-repeat padding-box;
border-radius: 3px;
margin-right: 690px;;
opacity: 1;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // border: 1px solid green;
    background: #A03037 0% 0% no-repeat padding-box;
    top: 0px;
    left: 0px;
    width: 1353px;
    height: 60px;
    opacity: 1;
    flex-wrap: wrap;
}
.searchtab{
    width: 22px;
    height: 26px;
    background: white 0% 0% no-repeat padding-box;
    margin-right: -23px;
    margin-top: 3px;
    opacity: 0.3;
    border-style:hidden;
}
.Serach{
    top: 24px;
left: 348px;
width: 13px;
height: 13px;
background: #9D9D9D 0% 0% no-repeat padding-box;
opacity: 1;

}
.serachinput{
    top: -8px;
    border-style: hidden;
    padding: 3px;
    height: 84%;
    width: 94%;
    position: relative;
   
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0em solid green;
    width: 80%;
    margin-right: -207px;
}

.logo-content img {
    top: 19px;
    left: 164px;
    width: 31px;
    height: 24px;
    background: transparent url('../../../assets/header/education.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.text {
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0em;
    color:#FFFFFF;
    text-transform: capitalize;
    margin: 0;
    box-sizing: border-box;
    top: 17px;
    left: 201px;
    width: 91px;
    height: 26px;
    text-align: left;
    font: normal normal normal 20px/26px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;;
}
.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    width: 499px;
    height: 30px;
    font-style: normal;
    font-size: 25px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    margin-left: 27px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    margin-top: 4px;
    margin-left: 48px;
    border-radius: 3px;
    opacity: 1;
    -webkit-font-smoothing: antialiased;;
}
.cartbutton{
    top: 21px;
    left: 1164px;
    width: 40px;
    height: 45px;
    opacity: 1;
    margin-left: -275px;
}
.mat-card3{
 
    width: 99px;
    margin-top: 11px;
    margin-left: -7px;
    height: 239px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2E2;
    border-radius: 3px;
    opacity: 1;
}
.personbutton{
    top: 18px;
left: 1064px;
width: 72px;
height: 53px;
opacity: 1;

margin-right: 347px;
}

.material-icons{
    background-color: white;
}
// .text {
//     font-family: "Montserrat", sans-serif;
//     letter-spacing: 0px;
//     color: #82a70c;
//     text-transform: capitalize;
//   }
  
 