<header class="header">
    <div class="logo-content">
        <img src="../../../assets/header/education.svg" alt="logo">
        <div>
            <span class="text">BookStore</span>

        </div>

    </div>
    <div class="searchbar">
        <mat-card class="search-mat-card" fxLayout="row" fxLayoutAlign="space-around center">
            <button class="search" mat-icon-button [disableRipple]="true" matTooltip="search">
                <input class="searchInput" type="text" placeholder="Search.." />
                <img src="../../../assets/header/search-30.png" alt="search-30">
            </button>
        </mat-card>

    </div>
    <!-- <div class="user">
        <img src="../../../assets/header/user.png" alt="user">
        <img src="../../../assets/header/supermarket.svg" alt="cart">
    </div> -->
</header>