*{
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // border: 1px solid green;
    background: #A03037 0% 0% no-repeat padding-box;
    top: 0px;
    left: 0px;
    width: 1266px;
    height: 60px;
    opacity: 1;
}
.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0em solid green;
    width: 80%;
}

.logo-content img {
    top: 19px;
    left: 164px;
    width: 31px;
    height: 24px;
    background: transparent url('../../../assets/header/education.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.text {
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0em;
    color:#FFFFFF;
    text-transform: capitalize;
    margin: 0;
    box-sizing: border-box;
    top: 17px;
    left: 201px;
    width: 91px;
    height: 26px;
    text-align: left;
    font: normal normal normal 20px/26px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;;
}

// .text {
//     font-family: "Montserrat", sans-serif;
//     letter-spacing: 0px;
//     color: #82a70c;
//     text-transform: capitalize;
//   }
  
 