#body {
  top: 0px;
  left: 0px;
  width: 1351px;
  height: 609px;
  background: gray 0% 0% no-repeat padding-box;
  opacity: 1;
}
.user {
  font-weight:lighter;
margin-top: -40px;
}



.signup {
  top: 194px;
  left: 881px;
  width: 89px;
  height: 33px;
  text-align: left;
  text-decoration: solid;
  font-weight: bold;

  font: normal normal medium 25px/33px Roboto;
  letter-spacing: 0px;
  color: #0a0102;
  text-transform: uppercase;
  opacity: 1;
}
.emailId {
  text-align: center;
  margin-top: 30px;
  margin-left: 50px;
  margin-left: 50px;
  padding-left: 10px;
  top: 390px;
  left: 727px;
  width: 245px;
  height: 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  opacity: 1;
}
.password {
  margin-top: 30px;
  margin-left: 50px;
  top: 396px;
  left: 727px;
  width: 252px;
  height: 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  opacity: 1;
}

.mobileNo {
  margin-top: 30px;
  margin-left: 50px;
  top: 459px;
  left: 727px;
  width: 252px;
  height: 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  opacity: 1;
}
.fullname {
  text-align: center;
  margin-left: 50px;
  top: 380px;
  left: 727px;
  width: 252px;
  height: 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ff001c;
  border-radius: 2px;
  opacity: 1;
}

.example-card {
  top: 125px;
  left: 320px;
  width: 517px;
  height: 323px;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  border-radius: 21px;
  opacity: 1;
  //   transition: 0.3s;
  background-color: white;
}

.image {
  margin-top: 25px;
  width: 245px;
  height: 245px;
  border-radius: 50%;
  margin-right: 326px;
  margin-left: 53px;
}
.example-card2 {
  top: -253px;
    left: 658px;
    width: 334px;
    height: 370px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 15px #00000029;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  opacity: 1;
}
.h1 {
  font: normal normal medium 18px/24px Roboto;
  margin-left: 60px;
  letter-spacing: 0px;
  color: #0a0102;
  text-transform: uppercase;
  opacity: 1;
  font-size: 16px;
}

::ng-deep .mat-tab-header {
  border-bottom: none;
}
::ng-deep .mat-ink-bar {
  background-color: black !important;
  bottom: 50px !important;
}
::ng-deep.mat-tab-label,
::ng-deep.mat-tab-label-active {
  min-width: 40px !important;
  padding: 2px !important;
  margin: 40px !important;
 

}


.loginbutton {
  margin-left: 50px;
  width: 253px;
  height: 37px;
  background: #a03037 0% 0% no-repeat padding-box;
  border-radius: 1px;
  opacity: 1;
  border: none;
}
h2 {
  width: 191px;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 20px 0 20px 35px;
}

h2 span {
  background: #fff;
  padding: 0 10px;
}
.bottombuttons {
  width: 126px;
  height: 37px;
  background: #4266b2 0% 0% no-repeat padding-box;
  border-radius: 1px;
  opacity: 1;
  border: none;
}
::ng-deep .mat-tab-header-pagination {
  display: none !important;
}
.forgetpass {
  float: right;
  font: normal normal normal 10px/13px Roboto;
  letter-spacing: 0px;
  color: #9d9d9d;
  opacity: 1;
  margin-right: 38px;
  margin-top: -15px;
}

mat-icon {
  opacity: 1;
  color: #9d9d9d;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.4em 0px !important;
  width: 252px;
}
::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}




.body {
  // top: 0px;
  left: 0px;
  width: 1351px;
    height: 609px;
  background: gray 0% 0% no-repeat padding-box;
  opacity: 1;
}
.formcontent {
  left: 727px;
  width: 252px;
}
.forgot{
  margin-left: 164px;
  
  font-size: small;
}

.signup {
  text-size-adjust: 30px;
  margin-left: 120px;
  top: 194px;
  left: 700px;
  width: 89px;
  height: 33px;
  text-align: right;
  font: normal normal medium 25px/33px Roboto;
  letter-spacing: 0px;
  color: #0a0102;
  text-transform: uppercase;
  opacity: 1;
}
// .emailId {
//   margin-left: 50px;

//   top: 390px;
//   left: 727px;
//   width: 260px;
//   height: 35px;
//   background: #ffffff 0% 0% no-repeat padding-box;
//   border: 1px solid #e2e2e2;
//   border-radius: 2px;
//   opacity: 1;
// // }
// .password {
//   margin-left: 50px;
//   top: 396px;
//   left: 727px;
//   width: 260px;
//   height: 35px;
//   background: #ffffff 0% 0% no-repeat padding-box;
//   border: 1px solid #e2e2e2;
//   border-radius: 2px;
//   opacity: 1;
// }

.example-card {
  top: 84px;
  left: 320px;
  width: 517px;
  height: 312px;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  border-radius: 21px;
  opacity: 1;
  transition: 0.3s;
  background-color: white;
}

.image {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 245px;
  height: 245px;
  border-radius: 50%;
  margin-right: 326px;
  margin-left: 53px;
}
.example-card2 {
  top: -313px;
    left: 658px;
    width: 334px;
    height: 409px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 15px #00000029;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  opacity: 1;
}
.h1 {
  font: normal normal medium 18px/24px Roboto;
  margin-left: 40px;
  letter-spacing: 0px;
  color: #0a0102;
  text-transform: uppercase;
  opacity: 1;
  font-size: 16px;
}

::ng-deep .mat-tab-header {
  border-bottom: none;
}
::ng-deep .mat-ink-bar {
  background-color: black !important;
  bottom: 50px !important;
}
::ng-deep.mat-tab-label,
::ng-deep.mat-tab-label-active {
  min-width: 0px !important;
  padding: 0px !important;
  margin: 40px !important;
}

// .loginbutton {
//   margin-left: 50px;
//   width: 270px;
//   height: 37px;
//   background: #a03037 0% 0% no-repeat padding-box;
//   border-radius: 1px;
//   opacity: 1;
//   border: none;
// }
h2 {
  width: 191px;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 20px 0 20px 35px;
}

h2 span {
  background: #fff;
  padding: 0 10px;
}
.bottombuttons {
  width: 126px;
  height: 37px;
  background: #4266b2 0% 0% no-repeat padding-box;
  border-radius: 1px;
  opacity: 1;
  border: none;
}
::ng-deep .mat-tab-header-pagination {
  display: none !important;
}
.forgetpass {
  float: right;
  font: normal normal normal 10px/13px Roboto;
  letter-spacing: 0px;
  color: #9d9d9d;
  opacity: 1;
  margin-right: 38px;
  margin-top: -15px;
}
.facebookbutton {
  margin-left: 50px;
  top: 507px;
  left: 727px;
  width: 126px;
  height: 37px;
  background: #4266b2 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
}
.googlebutton {
  margin-left: 15px;
  top: 507px;
  right: 160px;
  width: 119px;
  height: 37px;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  border: 1px solid #e4e4e4;
  font: normal normal normal 12px/16px Roboto;
  border-radius: 3px;
  opacity: 1;
}
h3 {
  margin-left: 170px;
  top: 461px;
  left: 840px;
  width: 22px;
  height: 18px;
  text-align: center;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  font: normal normal bold 14px/18px Meiryo UI;
  letter-spacing: 0px;
  color: #343434;
  text-transform: uppercase;
  opacity: 1;
}
.signup {
  margin-top: 2px;
}
mat-icon {
  opacity: 1;
  color: #9d9d9d;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.4em 0px !important;
  width: 252px;
}
::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}

