<app-header></app-header>
<div class="main-div" fxLayout="column" fxLayoutAlign="space-around center">

    <div class="successImageDiv" fxLayoutAlign="center">
        <img src="../../assets/order/SuccessPage.jpg"/>
    </div>

<span>Hurray!!!your order is confirmed</span>
<span>the order id is #12345 save the order id for</span>
<span>further communication...</span>
<div fxLayout="column" fxLayoutAlign="center-center">
    <div
        class="table table-bordered"
        style="font-size: 60%; text-align: center; margin-top: 4%">
        <div class="Contact">
            
                <div class="main-content">
                    <div class="card">
                        <mat-card class="email">
                            <mat-card-title >Email us</mat-card-title>
                        </mat-card>
                        <mat-card-content class="emailcontent">bangalore.bridgelabz@gmail.com</mat-card-content>
                    </div>
                    <div >
                        <mat-card class="contactus" >
                            <mat-card-title>Contact Us</mat-card-title>
                        </mat-card>
                        <mat-card-content class="contactcontent">+917620839838</mat-card-content>
                    </div>
                    <div >
                        <mat-card class="address" >
                            <mat-card-title>Address</mat-card-title>
                        </mat-card>
                        <mat-card-content class="addresscontent">42,14th Main, 15th cross,Section 4, opp to BDA complex, near Kumarakom
                            restuarant, HSR Layout, Bangalore, 560034/mat-card-content</mat-card-content>
                    </div>
                </div>
         
        </div>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around center" style="margin-top: 2%">
    <div class="shoppingbutton">
        <button
            mat-raised-button
            style="background-color: #3371B5; color: aliceblue" [routerLink]="['/books']">Continue Shopping</button>
    </div>
    
</div>

</div>
<!-- <app-footer></app-footer> -->