<app-header></app-header>
<div class="container-center">
    <h1 class="head">Reset your password</h1>
    <div class="dashbord">
        <h3 class="subtitle">Please enter your new password
        </h3>
        <br />
        <form #resetForm="ngForm" (ngSubmit)="resetUserPassword()">
            <label class="name">New Password</label>
            <input class="input-reset" type="password" matInput="emailFormControl" placeholder="New Password"
            [(ngModel)]="resetPassword.newPassword" name="newPassword">

            <label class="name">Confirm Password</label>
            <input class="input-reset" type="password" matInput="emailFormControl" placeholder="Confirm Password"
                name="confirmPassword" [(ngModel)]="resetPassword.confirmPassword">
            <button class="reset" type="submit" routerLink="/loginform" >Reset Your Password</button>
        </form>
    </div>
</div>