<app-header></app-header>
<div class="body">
   <!-- //reset form -->
   <div class="header_reset">
   <h2>Reset Password</h2>
    </div>
    <form  (ngSubmit)="savePassword()">
    <mat-card class="example-card2">
       
        <div class="form_container"><br><br>
        <div class="new">
        <mat-form-field appearance="legacy">
          <mat-label>New Password</mat-label>
          <input matInput formControlName="newPassword" />
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </div>
      <br /><br />
      <div class="password">
        <mat-form-field appearance="legacy">
          <mat-label>Conform Password</mat-label>
          <input matInput  formControlName="confirmPassword"/>
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </div>
     
      <br /><br />
      <button class="resetbutton" style="color: white" type="button" (click)="savePassword()">Reset</button><br>
    </div>
    </mat-card>
    
  </form>
    
  </div>