.body{
    top: 0px;
    left: 0px;
    width: 1260px;
    height: 400px;
    background:0% 0% no-repeat padding-box;
    opacity: 1;
    }
.header_reset{
    margin-top: 100px;
}
.header_reset h2{
    text-align: center;
}

    .formcontent{
        
    left: 727px;
    width: 252px;
    
    
    }
    
//    .new .password{
//         background: #ffffff 0% 0% no-repeat padding-box;
//       border: 1px solid #e2e2e2;
//       border-radius: 2px;
//       opacity: 1;
//    }
    .form_container{
        padding-left: 10px;
        top: 390px;
        margin-top: 400px;
       
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    // border: 1px solid #E2E2E2;
    border-radius: 2px;
    opacity: 1;
    }
    .form_container{
        padding-left: 10px;
        top: 390px;
        margin-top: 450px;
    }
    
  
    
   
    .example-card2 {
    // top: 100px;
    left: 500px;
    width: 300px;
    height: 250px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #00000029;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    opacity: 1;
    }
    
    
   
    
    .resetbutton {
        width: 270px;
        height: 37px;
        background: #a03037 0% 0% no-repeat padding-box;
        border-radius: 1px;
        opacity: 1;
        border: none;
       
    }
   ::ng-deep .mat-form-field-infix{
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    border: solid #E2E2E2 1px;
    }
  
    ::ng-deep .mat-tab-header-pagination {
        display: none !important;
    }
    
   mat-icon{
        opacity: 1;
        color:  #9D9D9D;
    }
    
    ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important; width: 252px;}
    ::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }