<div fxLayoutAlign="center center" fxFlexFill>
    <!--div *ngIf= "isloading"   *ngIf = "!isloading"   -->
    </div>
    <mat-card class="forgotpass-card1" fxFlex="35" >
        <div style="text-align: left;">

            <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="flex-start" style="background-color: #A03037; padding-top: 16px;">
                <h2 class="title">Bookstore</h2>
            </div>
        </div>
    </mat-card>
<!--/div-->
        <!--Content-->

    <mat-card class="forgotpass-card2">  
            <div class="content-crumb-div">
            </div>
            <div class="forgotpass">
                <h2> Forgot your Password? </h2>
                <p>Enter your email address and we'll send you a link to reset your password.</p>
                <mat-form-field appearance="legacy">
                  <mat-label>Email Id</mat-label>
                  <input matInput formControlName="emailId" />
                  <mat-icon matSuffix></mat-icon>
                </mat-form-field>
              </div>
              <button class="resetbutton" style="color: black"  type="button" (click)="forgotpass()" > Reset Password </button><br>
              <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="flex-start" style="background-color: white; padding-top: 16px;">
                <button class="resetbutton" style="color: black"  type="button"  class="title">CREATE ACCOUNT </button>  
              </div>
    </mat-card>


    

    

