<app-header></app-header>
  <div class="container-center">
      <h1 class="head">Forgot your Password?</h1>
      <div class="dashbord">
          <h3 class="subtitle">Enter your email address and we'll send you a link to reset your password.
          </h3>
          <br />
          <form #forgotPasswordForm="ngForm" (ngSubmit)="forgotPassword()">
              <h6 class="name">Email Id</h6>
              <input class="input-reset" type="text" matInput="emailFormControl" name="emailId" [(ngModel)]="forgot.emailId">
              <!-- 
                  <h6 class="name">Confirm Password</h6>
                  <input class="input-reset" type="password"
  matInput="emailFormControl" placeholder="Confirm Password"
                  name="confirmPassword"  > -->
              <button class="reset" type="submit"  (click)="forgotPassword()">Reset Password</button>  <!--routerLink="/login"--> 
  
              <button class="create-account create-account-text" routerLink="/signupform">Create Account</button>
          </form>
      </div>
  </div>
    

    

