.alert {
    margin-top: 50px;
    text-align: center;
    background-color: aqua;
    font-size: x-large;
    height: 50px;
}
.bottom {
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
    bottom: 0px;
    width: 100%;
}
.wishlist{
    border: 1px solid white;
    outline: none;
    height: 35px;
    background-color: rgb(24, 16, 16);
    border-radius: 3px;
    color: white;
    
}

.main-container {
    
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 25px;
    font-weight: bolder;
    font-family: Lato, Regular;
    align-items: flex-start;
    margin-top: 20px;
}



.list-books {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    margin-left: 130px;
    // padding-left: 10px;

    // z-index: 3001;
}

mat-card {
    
    
    display: flex;
    flex-wrap: wrap;
    width: 14.4rem;
    padding-right: 2em;
    padding: 5px;
    border: 1px solid;
    border-color: rgb(240, 238, 238);
    margin-bottom: 20px;
}

.mat-card.mat-card {
    padding: 20px;
   
}

mat-card-title {
    background: #f5f5f5 0% 0% no-repeat padding-box;
}

.mat-card-title.mat-card-title {
    display: flex;
    height: 171px auto;
    width: 219px;
    align-items: center;
    align-content: center;

}
.bookdetils{
    margin-left: 312px;
    margin-top: -430px;
}
.inputs {
    margin-left: 1032px;
    width: 207px;
height: 16px;


}

.homebutton{
    border: 0em;
    text-align: left;
    // font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    margin-top: -480px;
    margin-left: 43px;
    
   
    background-color: white;
    border-color: #d4d5d2;
    opacity: 1;
}
.actualprice{
    top: 247px;
left: 753px;
width: 55px;
height: 20px;
text-align: left;
text-decoration: line-through;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #878787;
margin-left: 85px;
margin-top: -43px;

opacity: 1;
}
.submitbuuton{
    top: 666px;
left: 1109px;
width: 55px;
height: 23px;
text-align: left;
font: normal normal normal 14px/19px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
text-transform: capitalize;
background-color: #3371B5;
margin-left: 254px;
margin-top: 22px;
opacity: 1;
}

.bookname {
top: 150px;
left: 628px;
width: 216px;
height: 71px;
text-align: left;
font: normal normal normal 28px/37px Roboto;
letter-spacing: -2px;
margin-right: 10px;
color: #0A0102;
opacity: 1;
}

.authorname {
    margin-top: -36px;
    top: 163px;
left: 628px;
width: 114px;
height: 24px;
text-align: left;
font: normal normal normal 18px/24px Roboto;
letter-spacing: 0px;
color: #878787;
opacity: 1;
}
.bookdetail{
    text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #878787;
opacity: 1;
margin-left: -8px;
}
.feedback{
    width: 349px;
    height: 145px;
    text-align: left;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;


}
.rating{
    background: #F5F5F5 0% 0% no-repeat padding-box;
border-radius: 2px;
opacity: 0.63;

}

.price {
    margin-left: -3px;
    margin-bottom: 5px;
    font-size: 14px;
    font-family: Lato, Regular;
    font-weight: bolder;
    color: rgb(8, 8, 8);
}
.input{
    top: 595px;
left: 653px;
width: 300px;
height: 31px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
font-family: Arial, Helvetica, sans-serif;
color: white;
opacity: 0.18;

}

.availablity {
    margin-left: 20px;
    margin-bottom: 12px;
    font-size: 13px;
    font-family: Lato;
    color: rgba(87, 25, 25, 0.904);
}

.cart-buttons {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-right: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}

.btn-addbook {
    color: white;
    background-color: #a03037;
    height: 30px;
    width: 81px;
    padding: 0px;
    border-radius: 3px;
    font-size: small;
    border: none;
    cursor: pointer;
}

.addtobag {
    color: white;
    background-color: #a03037;
    height: 35px;
    width: 93px;
    padding: 0px;
    border-radius: 0px;
    font-size: small;
    border: none;
    cursor: pointer;
}



.addedbtn {
    display: flex;
    align-items: center;
    justify-content: center;
}


.out-of-stock {
    background: #ffffff 0% 0% no-repeat padding-box;
    text-align: center;
    padding: 8px 0px;
    font-size: medium;
    position: absolute;
    font-family: Lato;
    font-weight: bold;
    top: 177px;
    left: 30px;
    right: 30px;
    box-shadow: 0px 3px 8px #00000029;
    border-radius: 2px;
    opacity: 0.9;
    text-transform: uppercase;
}




.a {
    font: Medium Lato;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    font-size: 9px/11px;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

mat-card:hover {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25) !important;
    color: none;
}

.a.active {
    background-color: #8F2B2F;
}

.a:hover:not(.active) {
    background-color: #d4d5d2;
}

.pbtn {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2E2;
    opacity: 1;
}

.tooltip1 {
    position: relative;
    display: inline-block;
}

.tooltip1 .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: rgb(250, 246, 246);
    color: rgb(182, 165, 165);
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    padding-left: 10px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
    padding-bottom: 20%;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
}

.tooltip1 .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
}

.tooltip1:hover .tooltiptext {
    visibility: visible;
}